<h1 style="font-family: helvetica">Let's Get Ready to Rumble!!!</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <div>
    <label for="name_player_one">
      Player One name
      <input type="text" name="name_player_one">
    </label>
    <label for="name_player_two">
     Player Two name
      <input type="text" name="name_player_two">
    </label>
  </div>
  <div>
    <input type="submit" value="Ready!">
  </div>
</form>