<div>
<h1 style="font-family: helvetica">Player One: <%= @name_player_one %>. Player Two: <%= @name_player_two %>.</h1>
</div>

<div>
<h2 style="font-family: helvetica"><%=@name_player_one%>'s Hitpoints:</h2>
<h2 style="font-family: helvetica"><%=@name_player_two%>'s Hitpoints:</h2>
</div>

<div>
  <form action='/attack'>
    <input type="submit" value="Attack">
  </form>
</div>